*{
    padding: 0;
    margin: 0;
    font-family: "Sofia", sans-serif;
    box-sizing: border-box;
}
#hero{
    width: 100%;
    height: 100vh;
    background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(img/hero-bg\ \(1\).jpg);   
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
#hero .btn-get-started , #hero1 .btn-get-started{
    display: inline-block;
    padding: 8px 28px;
    border-radius: 50px;
    border: 2px solid #fff;
    margin: 10px;
    color: #fff;
    text-decoration: none;
    transition: all 0.5s;
}
#hero .btn-get-started , #hero1 .btn-get-started:hover{
    background-color: #009970;
    border: 2px solid #009970;
}
.clients img{
    width: 40%;
    filter: grayscale(100);
    margin: auto;
    padding: 15px 0;
    transition:0.4s ease-in-out;
}
section{
    padding: 60px 0;
}
.clients img:hover{
   filter: none;
   transform: scale(1.1);
}
.about .count ul{
    list-style-type: none;
}
.content{
    background-color: #009970;
}
.conts{
    background-color: #009970;
} 
.why .conts  .more_btn{
    display: inline-block;
    padding: 6px 30px 8px 30px;
    background-color: rgba(255,255,255,0.1);
    transition: 0.4s ease-in-out;
    text-decoration: none;
    border-radius: 50px;
}
.why .conts  .more_btn:hover{
    color: #009970;
    background-color: #fff;
}
.btn-navber{
    display: inline-block;
    padding: 10px 43px;
    border: 1px solid #009970;
    color: #fff;
    border-radius: 50px;
    text-decoration: none;
    font-size: 14px;
    background-color: #009970;
}
.btn-navber:hover{
    color: black;
}
.icon-box, .services{
    padding: 20px 10px;
    box-shadow: 0px 2px 15px rgba(0,0,0,0.1);
    transition: 0.3s ease-in-out;
    text-align: center;
    border-radius: 10px;
    background-color: #fff;
    width: 100%;
}
.services i{
    background-color:#008050 ;
}
.services i:hover{
    background-color:black;
    transition: all 0.5s;
}
#hero1{
    width: 100%;
    height: 100vh;
    background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(img/cta-bg\ \(1\).jpg);   
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.icon-box , .services:hover{
    box-shadow: 0px 5px 25px rgba(0,0,0,0.15);
}
.footer-top{
    background-color: #f9f8f9;
}
.footer_links ul{
    list-style-type: none;
}
.footer_links ul li a{
    text-decoration: none;
}
.footer_links ul li a:hover{
    color:black;
}
.footer-newsletter form input[type="submit"] {
    border: 0;
    padding: 0 20px;
    background-color: #009970;
    color: #FFFFFF;
    border-radius: 50px;
    box-shadow: 0 2px 15px rgba(0,0,0,0.15);
    transition: 0.3s ease-in-out;
}
.footer-newsletter form input[type="submit"]:hover{
    background-color: #008050;
}
.social:hover{
    color: black;
}
.creadits a{
    text-decoration: none;
}
.testimonial_item {
    margin: 30px 15px;
    text-align: center;
    box-shadow: 0 2px 12px rgba(0,0,0,0.0.8);
    background-color: #fff;
}
.testimonial_item img{
    width: 80px;
}